---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { get_title, format_say_date } from "../scripts/utils";
import { info } from "../config/says.js"
import ImagesGallery from "../components/ImagesGallery.astro";
const says = await getCollection('says');
const author_style = `background-image: url(${info.avatar});`
---

<BaseLayout>
  <div class="flex justify-center items-center mt-10 back-grid">
    <ul class="w-[50vw] py-2">
      {
        says.map(say => 
        <li class="">
          <aside class="flex pb-5">
            <div style={author_style} class="bg-cover size-20"></div>
            <div class="flex flex-col justify-center">
              <span class="text-xl! font-mono! text-slate-800">{say.data?.author || info.author}</span>
              <span class="text-sm! font-mono text-slate-500">{say.data?.description || info.description}</span>
            </div>
          </aside>
          <h1 class="m-0! text-2xl!">{say.data?.title || get_title(say)}</h1>
          <p class="text-base!">{say.body}</p>
          <div class="flex justify-center">
          <div class="py-5">
            <ImagesGallery img_width={say.data?.img_width} height={say.data?.height} radius={say.data?.radius} photos={say.data?.photos} />
          </div>
          </div>
          <div class="text-slate-500 text-center">Date: {format_say_date(say.data?.date)}</div>
        </li>)
      }
    </ul>
  </div>
  
</BaseLayout>

<style>
  li::before {
    content: none;
  }
</style>