---
import BaseLayout from "./BaseLayout.astro"
import HomeBackground from "../components/HomeBackground.astro"
import HomeArticleContainer from "../components/HomeArticleContainer.astro";
import AuthorCard from "../components/AuthorCard.astro";
import MusicPlayer from "../components/MusicPlayer.astro";
import VideoPlayer from "../components/VideoPlayer.astro";
import Announcement from "../components/Announcement.astro";
import Search from "../components/Search.astro";

const {pageTitle, allPosts, maxSize, page} = Astro.props;

---

<BaseLayout pageTitle={pageTitle}>
  <HomeBackground />
  <div id="home-container" class="flex gap-5 justify-center w-full max-md:p-0!">
    <!-- 左侧文章信息容器 -->
    {
      allPosts.length > 0 && (
        <HomeArticleContainer
          page={page}
          class="flex-2 min-w-0"
          posts={allPosts}
          isHome={true}
          maxSize={maxSize}
        />
      )
    }
    <!-- 右侧侧边栏组件 -->
    <aside id="right-container" class="flex min-w-0 flex-1 flex-col gap-5 max-md:hidden items-center">
      <AuthorCard />
      <MusicPlayer />
      <VideoPlayer />
      <Announcement class="w-full" />
      <Search allPosts={allPosts} class="w-full"/>
    </aside>
  </div>
</BaseLayout>

<style>
  #home-container {
    padding: 10%;
  }
</style>
