---
import BaseLayout from "./BaseLayout.astro";
import {author_info, article} from '../config/site.js';
import Tag from "../components/Tag.astro";
const { frontmatter, post } = Astro.props;
const title = post?.id.split('/')?.at(-1)?.split('.')[0];
const photos_height = frontmatter.ph_height
---
{ frontmatter.latex &&
  <head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
   <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/katex@0.15.1/dist/katex.css" integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <script src="https://kit.fontawesome.com/18093c370e.js" crossorigin="anonymous"></script>
  <title>{title}</title>
</head>
}
<!-- 加入head是为了为每一篇文章单独引入latex包 -->
<div id="markdown-container" class="my-2 p-2 rounded">
  <BaseLayout>
    <div class="flex justify-center items-center mb-10">
      <!-- 文章内 photos 滑动头图 -->
      <ul class="flex w-[90vw] gap-0! justify-center items-center">
        {frontmatter.photos?.length > 0 && frontmatter.photos.map((url:any) => <li class="post-img hover:cursor-pointer list-none! bg-cover bg-center" style={`background-image: url(${url});`}></li>) }
      </ul>
    </div>

    {frontmatter?.image?.url && <img src={frontmatter?.image?.url} width="300" alt={frontmatter?.image?.alt} />}
    <!-- 文章标题 -->
    <h1 class="text-center border-b-0!"><span class="inset-shadow-sm bg-gray-50 inset-shadow-gray-200 px-2">{article.use_frontmatter_title ? frontmatter.title || title : title}</span></h1>
    <p><em>{frontmatter?.description}</em></p>
    <p>{frontmatter?.pubDate?.toString().slice(0, 10)}</p>
    <!-- 作者名 -->
    <p class="text-slate-400 text-sm text-center">作者：{frontmatter?.author || author_info?.name}</p>

    <slot />

  
    <div class="flex justify-center gap-5 flex-wrap py-5">
      {
        Array.isArray(frontmatter?.tags) && frontmatter?.tags?.map((tag: string) => (
          <Tag tag={tag} />
        ))
      }
    </div>
  </BaseLayout>
</div>

<style define:vars={{photos_height}}>
a {
  color: #00539f;
}

li::before {
  content: none;
}

#markdown-container {
  --color: rgb(241, 241, 241);
  background-image: 
    linear-gradient(to bottom,transparent 29px,var(--color) 1px),
    linear-gradient(to right,transparent 29px,var(--color) 1px) ;
  background-size: 30px 30px;
  background-repeat: repeat;
}

h1 {
  padding: 0;
  margin: 0;
}

.post-img {
  height: var(--photos_height);
  flex: 1;
  transition: all 1s ease-out;
}

.post-img:nth-child(1) {
  flex: 5;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.post-img:nth-last-child(1) {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
</style>

<script>
  const imgs = document.querySelectorAll('.post-img');

  imgs.forEach((img: any) => {
    img.addEventListener('click', () => {
      minimizeAllImages();
      img.style.flex = '5';
    })
  })

  function minimizeAllImages() {
    imgs.forEach((img: any) => {
      img.style.flex = '1';
    })
  }
</script>